<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="Icon" href="./img/Weather.jpeg">
    <title>About</title>
    <link rel ='stylesheet' href='./css/style.css'>
   <script
       src = '/js/app.js'></script>
       

</head>
<body> 
    <div class= "main-content">
   {{>header}} 
   <p><h2>   This weather app is created on 1st July 2022.
    This is a node.js Application.</h2>
   </p>
 <h3>Other upcoming Projects...</h3>
   <br>
   <img src="/img/projectlist.png" width="500">
   <br>
   </div>
    {{>footer}}
</body>
</html>