<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Help</title>
    <link rel="Icon" href="./img/Weather.jpeg">
    <link rel ='stylesheet' href='./css/style.css'>
   <script
       src = '/js/app.js'></script>
       
</head>
<body> 
    <div class="main-content">
    {{>header}}
    <br>
<h2>This is one of the best course for <b>Node Js</b> avilable on Udemy By Andrew Mead.</h2>
<h2>Click Below ....</h2>

<a href="https://www.udemy.com/share/101WGi3@Yr4Mw3kp_SRJpAl1Bms3mlFprmQEQGLEyCYX8J1yfE8-4cNdyzxNAm318H2eNTmL/">
Udemy</a>
</div>
 {{>footer}}

</body>
</html>