<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Weather</title>
    <link rel ='stylesheet' href='./css/style.css'>
            <link rel="Icon" href="./img/Weather.jpeg">

   
   
</head>
<body> 
  <div  class="main-content">
{{>header}}
    <h2>Use this site to get your weather iformation</h2>
    {{!-- <img class='potrait' src="/img/projectlist.png"> --}}
  <form>
    <input placeholder="Enter Your Location">
    <button>
      Serach
    </button>
  </form>
 
<p
  id = 'message-1'></p>
<p id='message-2'></p>
 <img src="/img/wdr-2.png" width="100">
  </div>

        {{>footer}}
<script
       src = '/js/app.js'></script>
</body>
</html>